*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 110px;
    margin:0;
    color:#232f3e;
}

.menu{
    background-color:#232f3e;
    color:white;
    padding:10px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232f3e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color:tomato;
}

.sidenav .closebtn {
    position: absolute;
    top: 35px;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index:3;
}

#main {
    transition: margin-left .5s;
}

.content{
    padding-left:20px;
    padding-right:20px;
}

.info{
    color:darkblue;
    font-family: "Lato", sans-serif;
    width:375px;
    padding:10px 10px 10px 25px;
    text-align: left;
    margin:0 auto;
}

.words{
    width:375px;
    margin:0 auto;
    margin-top:27px;
}

table{
    z-index:1000;
}

#tazesozler {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align:center;
}

#tazesozler td,
#tazesozler th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tazesozler .tbimg{
    height:50px;
    width:50px;
}

#tazesozler tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tazesozler tr:hover {
    background-color: #ddd;
}

#tazesozler th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.conversation{
    width:375px;
    margin:0 auto;
}

.cname{
    color: rgb(250, 46, 10);
    text-shadow: 5px 5px 5px #aaa;
    text-align:left;
}

#aname{
    margin-bottom:6px;
    color:darkcyan;
}

#btnTranslate{
    display:block;
    margin-top:10px;
    border:none;
    padding:8px 16px;
    font-size:16px;
}

#btnTranslate:hover{
    background-color:rgb(46, 243, 243);
}

/*button effect*/
.gradient-border {
    --border-width: 2px;
    position:relative;
    height: 50px;
    padding: 7px;
    background: #fcf9f9;
    border-radius: var(--border-width);
}

.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, skyblue, cyan, yellow, skyblue, cyan, yellow);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

/*end of button effect*/

.tm{
    display: none;
    background-color:darkcyan;
    color:white;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left:5px;
    margin-top:-15px;
    width:90%;
}


.pagination {
    display: block;
    text-align: center;
    width:280px;
    margin:10px auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 2px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #4CAF50;
    color:white;
}

.footer{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    background-color:#232f3e;
    color:white;
    text-align:center;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 280px) {
    .sidenav {
        padding-top: 12px;
    }

    .sidenav a {
        font-size: 16px;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 4px 8px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 2px;
    }
}